<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />

            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" />
        <rewrite>
            <rules>
                <rule name="http to https" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                        <add input="{REQUEST_URI}" pattern="postback-pp.php" negate="true" />
                        <add input="{REQUEST_URI}" pattern="postback-mta.php" negate="true" />
                        <add input="{REQUEST_URI}" pattern="postback-fortumo.php" negate="true" />
                        <add input="{REQUEST_URI}" pattern="avatar.php" negate="true" />
                        <add input="{REQUEST_URI}" pattern="favatar.php" negate="true" />
                        <add input="{REQUEST_URI}" pattern="mta/functions.php" negate="true" />
                        <add input="{REQUEST_URI}" pattern="images/" negate="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="SeeOther" />
                </rule>
            </rules>
        </rewrite>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=31536000" />
            </customHeaders>
        </httpProtocol>
        
        <security>
            <requestFiltering>
                <requestLimits maxQueryString="3000" maxUrl="1000" />
            </requestFiltering>
        </security>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
